- title "Person Details - #{person.full_name}"
.show_data
  %p
    %span Last name:
    = person.last_name
  %p
    %span First name:
    = person.first_name
  %p
    %span Middle name:
    = person.middle_name
  %p
    %span Maiden:
    = person.maiden
  %p
    %span Prefix:
    = person.prefix
  %p
    %span Suffix:
    = person.suffix
  %p
    %span Gender:
    = person.gender
  %p
    %span Birth date:
    = rdate person.birth_date
  %p
    %span Death date:
    = rdate person.death_date
  %p
    %span Yahrzeit:
    = person.death_hebrew_date.to_s
  %p
    %span Next yahrzeit:
    = rdate person.next_yahrzeit_date

= link_to 'Edit', edit_person_path(person)
\|
= link_to 'Back', people_path
