%p
  %b Last name:
  = person.last_name
%p
  %b First name:
  = person.first_name
%p
  %b Middle name:
  = person.middle_name
%p
  %b Maiden:
  = person.maiden
%p
  %b Prefix:
  = person.prefix
%p
  %b Suffix:
  = person.suffix
%p
  %b Gender:
  = person.gender
%p
  %b Birth date:
  = person.birth_date
%p
  %b Death date:
  = person.death_date
%p
  %b Yahrzeit:
  = person.death_hebrew_date.to_s
%p
  %b Next yahrzeit:
  = person.next_yahrzeit_date

= link_to 'Edit', edit_person_path(person)
\|
= link_to 'Back', people_path
